# Environment variables
.env
*.env

# Python virtual environment
.venv/
venv/
env/

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/

# Node
node_modules/
package-lock.json

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
